<div class="content">
  <div class="topBar"></div>
  <form action="newTask(task, task.value)">
    <button (click)="HandleNew($event, newTask)"><i class="fas fa-plus"></i></button>
    <input #newTask id="newTask" type="text" placeholder="Nova tarefa" />
  </form>
  <ul>
    <li *ngFor="let task of tasks" class="list">
      <div #check class="check" (click)="HandleDone(check, selectedTask)" ><i class="fas fa-check"></i></div>
      <span #selectedTask>{{ task }}</span>
      <div class="delete"><i class="fas fa-times" (click)="HandleDelete(selectedTask)"></i></div>
    </li>
  </ul>
</div>